<!doctype html>
	<head>
		<title>Register</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  	</head>
  	<body>
		<div class="container">
	  		<% include ../partials/header %>
	  		<div class="panel panel-primary">
				<div class="panel-heading">
		 			The User
				</div>
	  		</div>
		</div>
  	</body>
</html>
